.showtime {
  color: white;
}

.showtime.unselectable {
  opacity: 0.35;
}

.showtime .title, .showtime .time {
  padding: 0 5px 0 5px;
}

.showtime .title {
  background-color: blue;
}

.showtime .time {
  background-color: green;
}
