.showtime {
  color: white;
  position: relative;
  height: 20px;
  margin: 5px 0 5px 0;
}

.showtime.selected {
  font-weight: bold;
  color: yellow;
}

.showtime.selected, .showtime.selectable {
  cursor: pointer;
}

.showtime.unselectable {
  opacity: 0.35;
}

.showtime .title {
  padding: 1px;
}

.showtime .title {
  background-color: blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
